doctype html
html
  head
      block head
        title="Git It Done"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body(class='container')
    div(class='header')
      form(action="/users/logout" method="POST")
        input(type="search" class="headerSearchBar")
        button(class="headerSearchButton") Go
        button(class="logoutButton") Logout
    div(class='body')
      div(class='sidebar')
        form
          //- input#name(type='text' placeholder='Name')
          input(type="text" class="sideBarText")
          button(class="sideBarButton") Add

      div(class='listDiv')
        include task.pug
      div(class='taskDiv')


    block content
