doctype html
html
  head
      block head
        title="Git It Done"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div(class='header')
      form(action="/users/logout" method="POST")
        input(type="search" class="headerSearchBar")
        button(class="headerSearchButton") Go
        button(class="logoutButton") Logout
    div(class='body')


      block content
