doctype html
html
  head
      block head
        title="Git It Done"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body(class='container')
    div(class='header')
      form(action="/users/logout" method="POST")
        input(type="search")
        button Search
        button Logout
    div(class='body')
      div(class='sidebar')
        form
          //- input#name(type='text' placeholder='Name')
          input(type="text")
          button#add Add to List

      div(class='listDiv')
        include task.pug
      div(class='taskDiv')


    block content
