doctype html
html
  head
    block head
      title="Git It Done"
      link(rel='stylesheet' href='/stylesheets/index.css')


  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
  .registerLogo
    img(src="/images/logo.png" alt="Git It Done" class="registerImg")
  .registerFormDiv
    form(action="/users/register" method="POST" class="registerForm")
      input(type="hidden" name="_csrf" value=csrfToken)
      label(for="firstName" class="registerFirstName") First Name
      input(type="text" id="firstName" name="firstName")
      label(for="lastName" class="registerLastName") Last Name
      input(type="text" id="lastName" name="lastName")
      label(for="email" class="registerEmail") Email
      input(type="text" id="email" name="email")
      label(for="password" class="registerPassword") Password
      input(type="password" id="password" name="password")
      label(for="confirmPassword" class="registerConfirmPassword") Confirm Password
      input(type="password" id="confirmPassword" name="confirmPassword")
      button(type="submit" class="registerButton")
        span(class="registerButtonTxt1") Register
        span(class="registerButtonTxt2") Done
      a(href="/users/login" class="registerLoginLink") Login
