html
    input(type="text" name="taskCreate")
    button(class="addTaskButton") Add Task
    table(class="taskTable")
        thread(class="taskThread")
        tbody
            each task in tasks
                tr
                    td(class="taskData")=task.taskNotes
