//- extends layout

//- block content
//-   div(class='taskDiv')

//-     form(action=`/lists/${listId}/${taskId}` method="POST")
//-       input(type="text" name="taskCreate")
//-       button(class="addTaskButton") Add Task
//-       table(class="taskTable")
//-         thread(class="taskThread")



    //- ul
    //-   each task in userTasks
    //-     li=task.taskName
        //- tbody
        //-     each task in tasks
        //-         tr
        //-             td(class="taskData")=task.taskNotes
