h1 {
  color: #555555;
}

body {
  /* background-color: rgba(25, 171, 83, 0.6); */
  background-color: rgba(72, 135, 201, 0.6);

  /* background-color: white; */
}
a {
  text-decoration: none;
  color: white;
}

/* .header {
  display: flex;
  align-items: center;
  outline: 1px solid black;
  height: 50px;
  background-color: rgba(72, 135, 201, 0.85);
} */

.body {
  display: flex;
  outline: 1px solid black;
  height: 100vh;
}

.listDiv {
  outline: 1px solid black;
  width: 150px;
  background-color: rgba(1, 41, 84, 0.85);
  outline: 2.5px solid white;

  height: 100vh;
  margin-top: 1px;
}

.listName {
  width: 150px;
}

.sidebar {
  color: white;
  outline: 1px solid black;
  width: 44vw;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  /* background-color: rgba(6, 83, 165, 0.95); */
  background-color: rgba(1, 41, 84, 0.85);
  outline: 2.5px solid white;



}

.taskDiv {
  outline: 2.5px solid white;
  width: 44vw;
  min-width: 300px;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;

  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  /* background-color: rgba(6, 83, 165, 0.95);
   */
   background-color: rgba(1, 41, 84, 0.85);


}

.taskName {
  /* max-width: 35vw;
  min-width: 30vw;

  height: 35px;
  margin-left: 15px;
  margin-right: 2.5vw; */

  width: 37.5vw;
  /* min-width: 300px; */
  /* margin-right: 1vw; */

}

.loginFormDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: 5px black solid;
  margin-top: 100px;
  margin-left: 40vw;
  margin-right: 40vw;
  border-radius: 10%;
  /* background-image: url(/images/githubBackground.png); */
}

.loginFormDiv:hover {
  box-shadow: 15px 15px rgba(72, 135, 201, 0.35),
    0.25em 0 0.4em rgba(72, 135, 201, 0.35);
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.emailLoginLabel {
  display: flex;
  justify-content: center;
}

.passwordLoginLabel {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.registerLoginLabel {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.loginButton {
  margin-top: 15px;
  height: 35px;
  font-size: 25px;
  background-color: rgba(72, 135, 201, 0.35);
  border-radius: 15%;
}

.registerFormDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: 5px black solid;
  margin-top: 100px;
  margin-left: 40vw;
  margin-right: 40vw;
  border-radius: 10%;
}

.registerFormDiv:hover {
  box-shadow: 15px 15px rgba(72, 135, 201, 0.35),
    0.25em 0 0.4em rgba(72, 135, 201, 0.35);
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerFirstName {
  display: flex;
  justify-content: center;
}

.registerLastName {
  display: flex;
  justify-content: center;
}

.registerEmail {
  display: flex;
  justify-content: center;
}

.registerPassword {
  display: flex;
  justify-content: center;
}

.registerConfirmPassword {
  display: flex;
  justify-content: center;
}

.registerLoginLink {
  display: flex;
  justify-content: center;
}

.registerButton {
  margin-top: 15px;
  height: 35px;
  font-size: 25px;
  background-color: rgba(72, 135, 201, 0.35);
  border-radius: 15%;
}


.header {
    display: flex;
    align-items: center;
    outline: 1px solid black;
    height: 50px;
    background-color: rgba(1, 41, 84, 0.85);
    outline: 2.5px solid white;
  }


.logoutButton {
  /* right: 10px; */
  /* left: 16.5px; */
  /* border-radius: 0.35em;
  background-color: rgba(25, 171, 83, 0.5);
  color: white;
  font-size: 17.5px;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 5px; */
  position: absolute;
  right: 0;
  top: 5px;
  min-height: 2.5vh;
  min-width: 2.5vw;
  margin-right: 0;
  margin-left: auto;
}

.headerSearchButton {
    position: absolute;
    left: 500px;
    top: 5px;
    min-height: 2.5vh;
    min-width: 2.5vw;
    /* margin-top: 15px; */
  }

.logoutButton:hover {
  outline: 2.5px white solid;
  background: rgba(72, 135, 201, 0.85);
}

.headerSearchBar {
    position: absolute;
    left: 161.5px;
    top: 5px;
    width: 340px;
    min-height: 2.5vh;
    min-width: 2.5vw;
}



.addTaskButton {
  /* position: absolute; */
  /* right: 10px;
    top: 5px; */
  /* height: 35px; */
  /* padding: 0.75em 1.5em;
  border-radius: 0.35em;
  background-color: rgba(72, 135, 201, 0.85);
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-top: 5px; */
  float: right;
  width: 5vw;
  /* min-width: 300px; */
}

.addTaskButton:hover {
  background: var(--clr-accent);
  outline: 2.5px white solid;
  /* border-style: solid; */
}

.taskCreate {
  /* position: absolute; */
  left: 10px;
  top: 5px;
  width: 15vw;
  height: 40px;
  min-height: 2.5vh;
  margin-top: 0.75vh;
  margin-right: 1vw;
  margin-left: 1vw;
}

.sideBarButton {
  /* padding: 10px; */
  /* border-radius: 0.35em; */
  background-color: rgba(25, 171, 83, 0.4);
  min-width: 300px;

  height: 37.5px;
  /* outline: 2.5px solid white; */
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sideBarButton:hover {
  background: var(--clr-accent);
  border: white;
  border-style: solid;
}

.sideBarText {
  height: 40px;
  width: 175px;
  margin: 5px;
}

.editButton {
  border-radius: 30%;
  display: flex;
  /* flex-direction: row; */
  margin-right: auto 0;
}

.deleteButton {
  border-radius: 30%;
}

li {
  border: rgba(72, 135, 201, 0.9);
  /* background-color: rgba(72, 135, 201, 0.6); */

  border-style: solid;
  border-width: 2.5px;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  justify-content: center;
}

a:hover {
  box-shadow: 0 0 15px #f1eebd;
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
  color: #fff;
  transform: rotateY(360deg);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

li:hover {
  box-shadow: 15px 15px rgba(72, 135, 201, 0.35),
    0.25em 0 0.4em rgba(72, 135, 201, 0.35);
}



.taskDiv:hover {
  box-shadow: 15px 15px rgba(72, 135, 201, 0.35),
    0.25em 0 0.4em rgba(72, 135, 201, 0.35);
}
/* .listDiv:hover {
    box-shadow:  5.5px 7.5px rgba(25, 171, 83, .35), .25em 0 .4em rgba(25, 171, 83, .35);
} */

.loginFooter {
  display: flex;
  justify-content: center;
  background-color: black;
  margin-top: 1000px;
  margin-right: 250px;
  margin-left: 250px;
}

.loginFooter a {
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.splashFooter {
  position: absolute;
  display: flex;
  justify-content: space-around;
  /* margin-top: 50vh; */
  background-color: rgba(72, 135, 201, 0.35);
}

.splashFooter a {
  justify-content: center;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.addListButton {
  width: 150px;
  margin-bottom: 25px;
}


.logo {
    /* background-color: white; */
    font-size: 175%;
    color: white;
    font-family: cursive;
}

h1 {
    color: white;
    font-family: cursive;
}

.deleteListButton {
    /* background-color: rgba(72, 135, 201, .5);
    border-radius: 25%; */
    /* margin-left: 35vw; */
    float: right;

}

.deleteTaskButton {
    /* margin-left: 30vw; */
    float: right;

}

.pleaseAddTask {
    color: white;
}

.demoDiv {
    flex-direction: row;
    justify-content: center;
    outline: 5px black solid;
    margin-top: 25px;
    margin-left: 40vw;
    margin-right: 40vw;
    border-radius: 10%;
}

/* .demoDiv {
    box-shadow: 15px 15px rgba(72, 135, 201, 0.35),
    0.25em 0 0.4em rgba(72, 135, 201, 0.35);
} */
