h1 {
  color: #555555;
}

body {
  /* background-color: rgba(72, 135, 201, 0.6); */
  background-color:rgba(235, 234, 236, 1);
  text-decoration: none;
  color:rgba(70, 53, 208, 1);
}

.body {
  display: flex;
  outline: 1px solid black;
  height: 100vh;
}

.listDiv {
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
  width: 150px;
  background-color: rgba(235, 234, 236, 1);
  outline: 2.5px solid white;
  height: 100vh;
  margin-top: 1px;
}

input.addListName {
  width: 95%;
  margin-top: 10px;
  margin-left: 3px;
  align-self: center;
  overflow: hidden;
}

.addListButton {
  align-self: center;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 12px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

li {
  /* border: rgba(72, 135, 201, 0.9);
  border-style: solid;
  border-width: 2.5px;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  justify-content: center; */
  display: inline-flex;
  justify-content: space-around;
  width: 98%;
}

li:hover{
  background-color: rgba(72, 135, 201, 0.35);
}

.listName {
  align-items: flex-start;
  min-width: 50%;
  /* margin-left: 2px; */
}

.editListButton {
  align-items: flex-end;
  /* margin-left: 5px; */
  text-decoration: none;
}

.deleteListButton {
  align-items: flex-end;
  /* margin-right: 2px; */
}

.sidebar {
  outline: 1px solid black;
  width: 44vw;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  background-color: rgba(1, 41, 84, 0.85);
  outline: 2.5px solid white;
  color: white;
}

.taskDetails > P {
  margin-left: 5px;
}

.taskDiv {
  display: flex;
  flex-direction: column;
  outline: 2.5px solid white;
  width: 44vw;
  min-width: 300px;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  background-color: rgba(1, 41, 84, 0.85);
  color: rgba(235, 234, 236, 1);
}

input.addTaskName {
  width: 85%;
  margin-top: 10px;
  margin-left: 35px;
  align-self: center;
  overflow: hidden;
}

button.addTaskButton {
  align-self: center;
  width: 65%;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 100px;
}

.taskName {
  width: 300px;
  align-self: flex-start;
  overflow: hidden;
}

.editTaskButton {
  align-self: flex-end;
  /* margin-right: 1px; */
  text-decoration: none;
}

.deleteTaskButton {
  align-self: flex-end;
  /* margin-right: 1px; */
}

.loginLogo {
  display:flex;
  justify-content: center;
  align-items: center;
}

.loginImg{
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.loginFormDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: 5px black solid;
  margin-top: 50px;
  margin-left: 40vw;
  margin-right: 40vw;
  border-radius: 10%;
}

/* .loginFormDiv:hover {
  box-shadow: 15px 15px rgba(72, 135, 201, 0.35),
    0.25em 0 0.4em rgba(72, 135, 201, 0.35);
} */

.loginForm {
  display: flex;
  flex-direction: column;
}

.emailLoginLabel {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.passwordLoginLabel {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.registerLoginLabel {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.registerLogo {
  display:flex;
  justify-content: center;
  align-items: center;
}

.registerImg{
  height: auto;
  width: auto;
  max-width: 450px;
  max-height: 450px;
}

button .loginButtonTxt2 {
  display: none;
}

.loginButton:hover .loginButtonTxt1 {
  display: none;
}

.loginButton:hover .loginButtonTxt2 {
  display: inline;
}

.loginButton {
  margin-top: 15px;
  height: 30px;
  font-size: 20px;
  background-color: rgba(72, 135, 201, 0.35);
  border-radius: 10%;
}

.loginButton:hover {
  background-color: rgba(72, 135, 201, 0.35);
  box-shadow:  7.5px 7.5px 7.5px rgba(72, 135, 201, 0.35);
  transition: 220ms all ease-in-out;
}

.registerFormDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: 5px black solid;
  margin-top: 50px;
  margin-left: 40vw;
  margin-right: 40vw;
  border-radius: 10%;
}

/* .registerFormDiv:hover {
  box-shadow: 15px 15px rgba(72, 135, 201, 0.35),
    0.25em 0 0.4em rgba(72, 135, 201, 0.35);
} */

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerFirstName {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.registerLastName {
  display: flex;
  justify-content: center;
}

.registerEmail {
  display: flex;
  justify-content: center;
}

.registerPassword {
  display: flex;
  justify-content: center;
}

.registerConfirmPassword {
  display: flex;
  justify-content: center;
}

.registerLoginLink {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.registerButton {
  margin-top: 15px;
  height: 30px;
  font-size: 20px;
  background-color: rgba(72, 135, 201, 0.35);
  border-radius: 15%;
}

.registerButton:hover {
  background-color: rgba(72, 135, 201, 0.35);
  box-shadow:  7.5px 7.5px 7.5px rgba(72, 135, 201, 0.35);
  transition: 220ms all ease-in-out;
}

button .registerButtonTxt2 {
  display: none;
}

.registerButton:hover .registerButtonTxt1 {
  display: none;
}

.registerButton:hover .registerButtonTxt2 {
  display: inline;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoutButton {
  min-height: 2.5vh;
  min-width: 2.5vw;
  margin-right: 5px;
  margin-left: auto;
  margin-top: 15px;
}

.headerSearchButton {
    min-height: 2.5vh;
    min-width: 2.5vw;
  }

.logoutButton:hover {
  outline: 2.5px white solid;
  /* background: rgba(72, 135, 201, 0.85); */
}

.headerSearchBar {
    margin-top: 15px;
    width: 340px;
    min-height: 2.5vh;
    min-width: 2.5vw;
    margin-right: 5px;
}

.searchResults {
  margin-left: 5px;
}

.taskName {
 width: 80%;
}

.addTaskButton {
  width: 80%;
  margin-bottom: 25px;
}

.sideBarButton {
  background-color: rgba(25, 171, 83, 0.4);
  min-width: 300px;
  height: 37.5px;
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sideBarText {
  height: 40px;
  width: 175px;
  margin: 5px;
}

.listSummary {
  margin-top: 5px;
  margin-left: 5px;
}

.editButton {
  border-radius: 30%;
  display: flex;
  margin-right: auto 0;
}

.deleteButton {
  border-radius: 30%;
}

/* a:hover {
  box-shadow: 0 0 15px  rgba(70, 53, 208, 1);
  color: rgba(70, 53, 208, 1);
  box-shadow: 0 0 5px  rgba(70, 53, 208, 1);
  text-shadow: 0 0 5px  rgba(70, 53, 208, 1);
  color:  rgba(70, 53, 208, 1);
  transform: rotateY(360deg);
} */


/* li:hover {
  box-shadow: 15px 15px rgba(72, 135, 201, 0.35),
    0.25em 0 0.4em rgba(72, 135, 201, 0.35);
} */

/* .taskDiv:hover {
  box-shadow: 15px 15px rgba(72, 135, 201, 0.35),
    0.25em 0 0.4em rgba(72, 135, 201, 0.35);
} */

.loginFooter {
  display: flex;
  justify-content: center;
  background-color: black;
  margin-top: 100px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: rgba(235, 234, 236, 1);
}

.loginFooter a {
  color: rgba(70, 53, 208, 1);
  margin-left: 50px;
  margin-right: 50px;
}

/* .splashFooter {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(72, 135, 201, 0.35);
}

.splashFooter a {
  padding-top: 2vh;
  padding-bottom: 2vh;
} */

h2 {
  display: flex;
  justify-content: center;
  background-color: rgba(72, 135, 201, 0.35);
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-decoration: underline;
}

.pleaseSelect {
  margin-left: 5px;
  margin-top: 5px;
  color: white;
}

.logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mainImg {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

h1 {
    color: white;
    font-family: cursive;
}

/* .deleteListButton {
  float: right;
} */

.deleteTaskButton {
  float: right;
}

.pleaseAddTask {
    color: white;
}

.demoDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* outline: 5px black solid; */
    margin-top: 25px;
    margin-left: 40vw;
    margin-right: 40vw;
    border-radius: 10%;
}

.demoButton {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  font-size: 20px;
  background-color: rgba(72, 135, 201, 0.35);
  border-radius: 10%;
}

.demoButton:hover {
  background-color: rgba(72, 135, 201, 0.35);
  box-shadow:  7.5px 7.5px 7.5px rgba(72, 135, 201, 0.35);
  transition: 220ms all ease-in-out;
}

.editTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.editTaskName {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 8px;
}

.editTaskStatus {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 8px;
}

.editTaskDate {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 8px;
}

.editTaskNotes {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 10px;
}

.editTaskDetailsButton {
  margin-top: 8px;
  margin-left: 100px;
}

.editList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.editListName {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.editListDetailsButton {
  margin-top: 8px;
  margin-left: 100px;
}
